.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info {
  display: flex;
  gap: 10px;
}

.contactIcon {
  color: #065096;
  width: 15px;
  height: 15px;
}

.btnPanel {
  display: flex;
  gap: 5px;
}

.editBtn {
  color: #065096;
  width: 40px;
}

.editIcon {
  width: 20px;
  height: 20px;
}

.editBtn:hover {
  background-color: #065096;
}
.editBtn:hover .editIcon {
  color: #dce9f5;
}

.deleteBtn {
  flex-shrink: 0;
}

.deleteBtn:hover {
  background-color: #065096;
  color: #dce9f5;
}

@media screen and (min-width: 375px) {
  .btnPanel {
    gap: 10px;
  }

  .editBtn {
    width: 50px;
  }
  .contactIcon {
    width: 18px;
    height: 18px;
  }
}